#!/usr/bin/make -f

#export DH_VERBOSE = 1

PKD = $(word 1,$(abspath $(dir $(MAKEFILE_LIST))))
PKG = $(shell dpkg-parsechangelog -l$(PKD)/changelog --show-field=Source)
VER ?= $(shell (dpkg-parsechangelog -l$(PKD)/changelog | grep Version | sed 's/Version..//' | sed 's/-.\+//'))


%:
	dh $@ --parallel
	#CC=/usr/bin/clang CXX=/usr/bin/clang++ dh $@ --parallel

override_dh_auto_configure:
	export CC=/usr/bin/clang
	export CXX=/usr/bin/clang++
	#dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release \
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release \
	                     -DBoost_USE_STATIC_LIBs=off \
                             -DCRYFS_UPDATE_CHECKS=off \
			     -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ \
#                             -DCMAKE_INSTALL_PREFIX=\usr \
#			     -DCMAKE_CXX_FLAGS="-I/usr/include -pedantic -v"


CHDATE = $(shell grep "\-\-" debian/changelog | head -1 | sed 's/.\+, //' | sed 's/...\:.\+//' )
DT = $(shell date -d "${CHDATE}" "+%Y-%m-%d")

override_dh_auto_build:
	dh_auto_build
	cp obj*/src/cryfs-cli/cryfs .
	ronn --date=${DT} debian/*.ronn

.PHONY get-orig-source:
get-orig-source:  $(info I: $(PKG)_$(VER))
	@echo "# Downloading..."
	uscan --noconf --verbose --rename --destdir=$(CURDIR) --check-dirname-level=0 --force-download --download-version $(VER) $(PK)
	rm -f $(PKG)-$(VER).tar.gz.pgp
